{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "chrome": 52
        }
      }
    ],
    "stage-0",
    "react"
  ],
  "ignore": [
    "node_modules/**",
    "dist"
  ]
}
